<div class="question-form">
    <%= form_for :question do |f| %>

        <div class="question-text">
            <%= f.label :title %>
        </div>

        <div class="question-title-field">
            <%= f.text_area :title, class: 'question-title-field' %>
        </div>

        <div class="question-title-field">
            <%= f.text_area :description, class: 'question-description-field' %>
        </div>

        <div class="question-form-tags">
            <%= f.label :tags %>
        </div>

        <div>
            <%= f.text_area :tages, class: 'question-tag-field', placeholder: 'html, css, ruby on rails' %>
        </div>

        <div>
            <%= f.submit 'Ask your question!', class: 'ask-button' %>
        </div>

    <% end %>
</div>