<div class="question cf">

    <div class="circle">
      <div class="circle-text">
        <%= question.views %><br>
        <% if question.views != 1%>
            <%= 'View'.pluralize  %>
        <% else %>
            <%= 'View' %>
        <% end %>
      </div>
    </div>


    <div class="circle">
        <div class="circle-text">
        <%= question.answers.count %><br>
        <% if question.answers.count != 1%>
              <%= 'Answer'.pluralize  %>
        <% else %>
              <%= 'Answer' %>
        <% end %>
        </div>
    </div>

    <div class="circle">
      <div class="circle-text">
        <%= question.score%><br>
        <% if question.score != 1%>
            <%= 'Vote'.pluralize  %>
        <% else %>
            <%= 'Vote' %>
        <% end %>
      </div>
    </div>

    <div class="question-info" >

      <div style="width: 25px;">
        <div style="float: left; ">
            <%= link_to image_tag('up.png', size: '25x25'), perform_vote_for_path(question.class, question.id, 'up')%>
        </div>
            <br>
        <div style="float: left; margin-top: 5px; ">
            <%= link_to image_tag('down.png', size: '25x25'), perform_vote_for_path(question.class, question.id, 'down')%>
        </div>
      </div>

      <div class="question-title">
        <%= link_to "#{question.title}", question_path(question.id) %>

      </div>

      <div class="question-title-tags">
        <%= render partial: 'questions/tag', locals:  {tags: question.tags} %>
      </div>

    </div>

    <div class="question-management">
        <div>
            Asked: <%= question.created_at.strftime("%d %b %y") %>
        </div>

        <div class="user-info">
            Author: <%= link_to "#{question.user.email}", user_path(question.user)%>
        </div>

        <div class="question-delete">
            <%= button_to 'Delete question', question, class: 'delete-button', method: :delete if check_current_user(question.user)%>
        </div>
    </div>

</div>