<p>
  Question: <%= link_to "#{question.title}", question_path(question.id) %>
</p>

<p>
  Asked by: <%= link_to "#{question.user.email}", user_path(question.user)%>
</p>

<p>
  Description: <%= question.description %>
</p>

<p>
  Views: <%= question.views %>
  Votes: <%= question.votes %>
</p>

<p>
  <%= link_to 'Delete Question', question, method: :delete %>
</p>