<p>
  Title: <%= link_to "#{question.title}", question_path(question.id) %>
</p>

<p>
  Author: <%= question.user.email%>
</p>

<p>
  Description: <%= question.description %>
</p>

<p>
  Views: <%= question.views %>
  Votes: <%= question.votes %>
</p>

<p>
  <%= link_to 'Delete Question', question, method: :delete %>
</p>