<div class="question cf">

    <div class="circle">
      <div class="circle-text">
        <%= question.views %><br>
        <% if question.views != 1%>
            <%= 'View'.pluralize  %>
        <% else %>
            <%= 'View' %>
        <% end %>
      </div>
    </div>


    <div class="circle">
        <div class="circle-text">
        <%= question.answers.count %><br>
        <% if question.answers.count != 1%>
              <%= 'Answer'.pluralize  %>
        <% else %>
              <%= 'Answer' %>
        <% end %>
        </div>
    </div>

    <div class="circle">
      <div class="circle-text">
        <%= question.votes%><br>
        <% if question.votes != 1%>
            <%= 'Vote'.pluralize  %>
        <% else %>
            <%= 'Vote' %>
        <% end %>
      </div>
    </div>

    <div class="question-info" >

      <div style="float: left;">
        <%= link_to 'Vote Up', vote_up_path(question.id) %>
      </div>
        <br>
      <div style="float: left; margin-top: 25px;">
        <%= link_to 'Vote Down', vote_down_path(question.id) %>
      </div>

      <div class="question-title">
        <%= link_to "#{question.title}", question_path(question.id) %>

      </div>

      <div class="question-title-tags">
        <%= render partial: 'questions/tag', locals:  {tags: question.tags} %>
      </div>

    </div>

    <div class="question-management">
        <div>
            Asked: <%= question.created_at.strftime("%d %b %y") %>
        </div>

        <div class="user-info">
            Author: <%= link_to "#{question.user.email}", user_path(question.user)%>
        </div>

        <div class="question-delete">
            <%= button_to 'Delete question', question, class: 'delete-button', method: :delete if check_current_user(question.user)%>
        </div>
    </div>

</div>