<div class="question cf">

    <div class="circle">
      <div class="circle-text">
        <%= question.views %><br>
        Views
      </div>
    </div>

    <div class="circle">
      <div class="circle-text">
        <%= question.votes %><br>
        Votes
      </div>
    </div>

    <div class="question-info">
      <div class="question-title">
        <%= link_to "#{question.title}", question_path(question.id) %>
      </div>

      <div class="question-title-tags">
        <%= render partial: 'questions/tag', locals:  {tags: question.tags} %>
      </div>

    </div>

    <div class="user-info">
      Author: <%= link_to "#{question.user.email}", user_path(question.user)%>
    </div>

    <!--<p>
        Description: <%= question.description %>
    </p> -->



</div>