<h2>All questions</h2>

<% @question.each do |question| %>
    <p>
       Title: <%= link_to "#{question.title}", question_path(question.id) %>
    </p>

    <p>
       Description: <%= question.description %>
    </p>

    <p>
      Views: <%= question.views %>
      Votes: <%= question.votes %>
     </p>

    <p>
      <%= "Tags:" if question.tags.present? %>
      <% question.tags.each do |tag|%>
          <span id="tag" style="display: inline-block">
            <%= link_to "#{tag.name}" %>
          </span>
      <%end %>
    </p>

    <br>
<% end %>
