
<% @question.each do |question| %>
    <p>
       Title: <%= link_to "#{question.title}", question_path(question.id) %>
    </p>

    <p>
       Description: <%= question.description %>
    </p>

    <p>
      Views: <%= question.views %>
      Votes: <%= question.votes %>
     </p>

    <p>
      <%= "Tags:" if question.tags.present? %>
      <%= render partial: 'questions/tag', locals: {tags: question.tags} %>
    </p>

    <br>
<% end %>
