<h2>question page</h2>
    <p>
        Title: <%= @question.title %>
    </p>

    <p>
        Description: <%= @question.description %>
    </p>

    <p>
        Votes: <%= @question.votes %>
    </p>

    <p>
        Views: <%= @question.views %>
    </p>

    <p>
      Tags: <%= render partial: 'questions/tag', locals: {tags: @question.tags} %>
    </p>