
<%= render partial: 'questions/show_question_partial', locals: {question: @question} %>


<div style="margin-top: 10px; font-size: 24px; margin-bottom: 30px;">
    <%= render text: 'Best Answer' if @question.answers.where('accepted = ?', true).count == 1 %>
    <%= render @question.answers.where('accepted = ?', true) %>
</div>

<div style="margin-top: 10px; font-size: 24px;">
  <%= render text: 'Answers:' if @question.answers.count != 0  %>
</div>
<%= render @question.answers.order('rating desc') %>


<div style="margin-top: 30px">
    <% if current_user.nil? %>
      <%= render partial: 'layouts/login_register' %>
      <%else %>
    <%= render partial: 'answers/answer_form' %>
<% end %>

</div>