<%= form_tag login_path do %>

    <div class="login-text">
      <%= label_tag :email %>
    </div>

    <div>
      <%= email_field_tag :email, params[:email], class: 'login-field' %>
    </div>

    <div class="login-text">
      <%= label_tag :password %>
    </div>

    <div>
      <%= password_field_tag :password, nil, class: 'login-field' %>
    </div>

    <div class="button"><%= submit_tag "Log in", class: 'button' %></div>

<% end %>