<%= form_for @user do |f| %>

<!--    <% if @user.errors.any? %>
        <div class="errors_explanation">
          <div><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</div>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>-->

    <div class="registration-text">
      <%= f.label :email %><br>
    </div>

    <div>
      <%= f.email_field :email, class: 'registration-field' %>
    </div>

    <div class="registration-text">
      <%= f.label :password %><br>
    </div>

    <div>
      <%= f.password_field :password, class: 'registration-field' %>
    </div>

    <div class="registration-text">
      <%= f.label :password_confirmation %><br>
    </div>

    <div>
      <%= f.password_field :password_confirmation, class: 'registration-field' %>
    </div>

    <div class="button">
      <%= f.submit 'Sign Up!', class: 'button' %>
    </div>

<% end %>
