<div class="header-container">

  <ul>
    <li><%= link_to 'My Stack', root_path%></li>
    <li><%= link_to 'Ask Question' %></li>
    <li><%= link_to 'Sign in', login_path unless current_user%></li>
    <li><%= link_to 'Sign up', new_user_path unless current_user%></li>
    <li><%= link_to "Signed in as #{current_user.email}", user_path(current_user.id) if current_user%></li>
    <li><%= link_to 'Logout', logout_path if current_user %></li>
  </ul>

</div>



