<div class="<%= 'answer' if true %>">

  <div class="answer-votes">
    Votes: <%= answer.rating %>
    <div><%= link_to 'up', perform_vote_for_path(answer.class, answer.id, 'up') %> <%= link_to 'down', perform_vote_for_path(answer.class, answer.id, 'down') %></div>
  </div>

  <div class="answer-body">
    <%= answer.body %>
  </div>

  <div class="answer-author">
    Author: <%= answer.user.email %>
  </div>

</div>
