<div class="header-container">

  <ul>
    <li><%= link_to 'My Stack', root_path%></li>
    <li><%= link_to 'All questions', questions_path %></li>
    <li><%= link_to 'Ask Question', new_question_path %></li>
    <li class="right"><%= link_to 'Sign in', login_path unless current_user%></li>
    <li class="right"><%= link_to 'Sign up', new_user_path unless current_user%></li>
    <li class="right"><%= link_to 'Logout', logout_path if current_user %></li>
    <li class="right"><%= link_to "Signed in as #{current_user.email}", user_path(current_user.id) if current_user%></li>
  </ul>

</div>